{% extends "base.html" %}
{% block title %}Todos{% endblock title %}
{% block content %}
<div class="table-container">
    <table>
        <caption>Todos</caption>
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Status</th>
                <th>Due Date</th>
                <th>Created At</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr>
                <td>{{ todo.title }}</td>
                <td>
                    {% if todo.category %}
                        {{ todo.category.name }}
                    {% else %}
                        No Category
                    {% endif %}
                </td>
                <td>{{ todo.status }}</td>
                <td>{{ todo.due_date|date:"Y-m-d H:i" }}</td>
                <td>{{ todo.created_at|date:"Y-m-d H:i" }}</td>
                <td><a href="{% url 'update_todo' todo.slug %}">Update</a></td>
                <td><a href="">Delete</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No todos available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
