{% extends "base.html" %}
{% block title %}Todos{% endblock title %}
{% block content %}
<div class="table-container">
    <table>
        
        <form method="get" class="filters">

            <select name="status" onchange="this.form.submit()">
                <option value="">All Status</option>
                <option value="pending" {% if selected_status == 'pending' %}selected{% endif %}>Pending</option>
                <option value="in_progress" {% if selected_status == 'in_progress' %}selected{% endif %}>In Progress</option>
                <option value="completed" {% if selected_status == 'completed' %}selected{% endif %}>Completed</option>
            </select>

            <select name="category" onchange="this.form.submit()">
                <option value="">All Categories</option>
                {% for cat in categories %}
                    <option value="{{ cat.id }}" {% if selected_category == cat.id|stringformat:"s" %}selected{% endif %}>
                        {{ cat.name }}
                    </option>
                {% endfor %}
            </select>
            <input type="text" name="search" value="{{ request.GET.search }}" placeholder="Search by title">
            <button type="submit">Filter</button>
        </form>


        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Status</th>
                <th>Due Date</th>
                <th>Created At</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr>
                <td>{{ todo.title }}</td>
                <td>
                    {% if todo.category %}
                        {{ todo.category.name }}
                    {% else %}
                        No Category
                    {% endif %}
                </td>
                <td>{{ todo.status }}</td>
                <td>{{ todo.due_date|date:"Y-m-d H:i" }}</td>
                <td>{{ todo.created_at|date:"Y-m-d H:i" }}</td>
                <td>
                    <button type="submit" class="btn-danger" onclick="return confirm('Are you sure you want to delete this todo?');">
                            <a href="{% url 'update_todo' todo.slug %}">Update</a></td>
                        </button>
                    
                <td>
                    <form action="{% url 'delete_todo' todo.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn-update" onclick="return confirm('Are you sure you want to delete this todo?');">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No todos available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {% if todos.has_previous %}
            <a href="?page=1{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">First</a>
            <a href="?page={{ todos.previous_page_number }}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">Previous</a>
        {% endif %}

        <span>Page {{ todos.number }} of {{ todos.paginator.num_pages }}</span>

        {% if todos.has_next %}
            <a href="?page={{ todos.next_page_number }}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">Next</a>
            <a href="?page={{ todos.paginator.num_pages }}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}">Last</a>
        {% endif %}
    </div>
</div>
{% endblock content %}
