{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="card">

    <!-- Non-field (global) errors -->
    {% if form.non_field_errors %}
        <div class="error-message">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="card-header">
        <h1>Login</h1>

        <form method="post" novalidate>
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}

                    {% if field.errors %}
                        <ul class="error-message">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit">Login</button>
        </form>
    </div>

    <div class="card-footer">
        <span>Don't have an account? <a href="">Register</a></span>
    </div>
</div>
{% endblock content %}
